<div>
  <h1 style="margin-left: 460px;">
      Fale conosco!  
  </h1>
</div>
  
  <div class="pwhite">
  <p class="whitebody" style="margin-left: -240px; margin-top: -60px; font-size: 1.6em">
      Seu Nome (obrigatorio)
      <br>
  </p>
  <p style="margin-left: -190px;">
      <span>
          <input class="wpcf7 wpcf7-textarea wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-name" type="name" aria-required="true" size="80" value="" name="your-name" >
        </span>
  </p>
  
  <br>
  <br>
  <br>

  <p class="whitebody" style="margin-left: -190px; font-size: 1.6em">
      <br>
      Seu Email (obrigatorio)
  </p>
  <p style="margin-left: -190px;">
        <span>
          <input class="wpcf7 wpcf7-textarea wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" type="email" aria-required="true" size="80" value="" name="your-email" >
        </span>
    </p> 

    <br>
    <br>
    <br>

    <p class="whitebody" style="margin-left: -190px; font-size: 1.6em">
      <br>
      Mensagem
  </p>
  <p style="margin-left: -190px; margin-bottom: -15px;">
        
          <textarea class="wpcf7 wpcf7-text wpcf7-validates-as-required" cols="25" aria-required="true" size="60" value="" name="mensagem" >
          </textarea>
        
    </p> 

    <br>
    <br>
    <br>
    <div id="message" hidden>
      Mensagem Enviada!
    </div>
    <button class="but" style="margin-left: -190px; margin-top: -50px;" onclick="alert(document.getElementById('message').innerHTML); window.location.reload();">
      Enviar
    </button>
    


  </div>