<h1>Neviar Propaganda</h1>

<div class="pwhite">
  <p class="whitebodyproduct">
      <h5 class="h5bw">
        <strong>
          Noma de Empresa
        <strong>
      </h5>
    </p>

<p class="whitebodyproduct">
      <h5 class="h5bw">
        <strong>
          Area de Atuacao
        <strong>
      </h5>
    </p>

    <div>
      <h5 style = "line-height: 25px; font-size: 20px;">
      O Aplicativo Cadê Minha Tribo utiliza preferências
        e localização de aparelhos móveis de pessoas comuns
        para ajudá-los a organizar encontros para realizar
        atividades de interesse comum.
      </h5>
    </div>
  </div>  