<div id="title">  
  <h1>
    Missão
  </h1>
</div>
<div class="pwhite">
  <p class="whitebody">

  <h5 style = "line-height: 25px; font-size: 20px;">
    Permitir  o  encontro  e  compartilhamento  de atividades
    entre  pessoas  que  possuem interesses
    em  comum  e  que se  encontram
    em  lugares  próximos, além  de  auxiliar o alcance
    as propagandas de empresas
    a clientes específicos.
  </h5>
</div>

