<h1>Membros</h1>

  <div class="pwhite">
    <p class="whitebody">
      <h5 class="h5bw">
        <strong>
          Quadro de Sócios da JKL
        <strong>
      </h5>
    </p>

    <p class = "trace">
    _______________________________
    </p>
    
    <div>
      <h5>
        <a href="http://www.icomp.ufam.edu.br/index.php/institucional/sobre-icomp/corpo-docente/164-reese-bettin-4">Eduardo Souto</a> - Prof. Dr. da Universidade Federal do Amazonas
      </h5>
    </div>
    
    <div>
      <h5>
        <a href= "https://jacksonleite.wordpress.com/" >Jackson Leite</a> - Graduando em Ciência da Computação
      </h5>
    </div>
    
    <p>
      <h5>
        Kevin Takano - Graduando em Ciência da Computação
      </h5>
    </p>
    <p>
      <h5>
        <a href="http://lattes.cnpq.br/3051283821995914"> Ludymila Lobo</a> - Graduanda em Ciência da Computação
      </h5>
    </p>
  </div>