<div class="pwhite" style="margin-left: 100px;">
  <p class="whitebody">

  </p>

</div>

<h1 style="margin-top: 100px;">Produtos</h1>

<div class="pwhite" style="margin-top: -400px;">
  <p class="whitebody">
      <h5 class="h5bw">
        <strong>
          Cadê Minha Tribo App
        <strong>
      </h5>
    </p>

    <p class = "trace">
    _______________________________
    </p>

    <div>
      <h5 style = "line-height: 25px; font-size: 20px;">
      O Aplicativo Cadê Minha Tribo utiliza preferências
        e localização de aparelhos móveis de pessoas comuns
        para ajudá-los a organizar encontros para realizar
        atividades de interesse comum.
      </h5>
    </div>
  </div>  